<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Welcome</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src='../script.js'></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsrXrT28orMKwY6MYJ8VQS1zGjlailjuc&callback=initMap" async defer></script>
  <link rel="stylesheet" href="../mapstyle.css">
</head>
<h1>Hello</h1>
<body>
<div id='map'></div>
</body>
</html>
